.c-action-primary {
	color: $cor-secundaria;
}

.bg-action-primary {
	background-color: $cor-principal;
}

.b--action-primary {
	border-color: $cor-principal;
}

.b--danger {
	border-color: $cor-secundaria;
}

.bg-danger {
	background-color: $cor-secundaria;
}

button.b--action-primary {
	border-color: $cor-principal;
	background-color: $cor-principal;

	&:hover {
		border-color: $cor-principal;
		background-color: $cor-principal;
	}
}

.hover-bg-action-secondary:hover,
.hover-b--action-secondary:focus,
.hover-b--action-seconda {
	background-color: #f443361c;
}

.account {
	//SCROLL PARA MOBILE
	@media screen and (max-width:$mobile) {
		/* width */
		::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}
	
		/* Track */
		::-webkit-scrollbar-track {
			border-radius: 10px;
		}
	
		/* Handle */
		::-webkit-scrollbar-thumb {
			background-color: $cor-principal;
			border-radius: 10px;
		}
	}

	>main {
		background-color: #f1f1f1;
	}

	.vtex-account__user-image {
		opacity: 0;
		visibility: hidden;

		@media screen and (max-width:$mobile) {
			display: none;
		}
	}

	.render-container.render-route-my-account-portal {
		background-color: white;
		border-radius: 4px;
		margin-top: 50px;
		padding: 20px 0;

		.vtex-profile-form__business-fields {
			pointer-events: none;

			input {
				background-color: #dcdcdc;

				cursor: no-drop;
			}
		}

		.w-100.mw9.pv7-m.pv9-l.flex {
			padding: 0;
		}

		.vtex-account__menu {
			@media screen and (max-width:$mobile) {
				padding: 30px;
			}

			nav.vtex-account__menu-links {
				display: flex;
				flex-wrap: wrap;

				@media screen and (max-width:$mobile) {
					flex-direction: column;
				}

				a {
					@media screen and (max-width:$mobile) {
						padding-left: 0;
						border-bottom: 1px solid #dcdcdc;
					}

					&[href="#/profile"] {
						order: 1;
					}

					&[href="#/cards"] {
						order: 2;
					}

					&[href="#/addresses"] {
						order: 3;
					}

					&[href="#/orders"] {
						order: 4;
					}
				}
			}
		}

	}

	#account_info {
		background-color: white;
		border-radius: 4px;
		margin-top: 20px;
		margin-bottom: 50px;
		padding: 20px;

		@media screen and (max-width:$mobile) {
			overflow-y: hidden;
		}

		ul {
			li {
				display: flex;
				align-items: center;
				margin-bottom: 13px;

				&:last-child {
					margin-bottom: 0;
				}

				.column {
					&.column_1 {
						p {
							width: 525px;
							display: flex;
							align-items: center;

							i {
								float: left;
								display: block;
								cursor: pointer;
								width: 20px;
								height: 20px;
								border-radius: 4px;
								border: 1px solid #dcdcdc;
								margin-right: 10px;
								background-size: 0;
								background-position: center;
								background-repeat: no-repeat;
								background-image: url(/arquivos/ico_checked.png);

								&[data-value="true"] {
									background-size: 70%;
									border-color: $cor-cta;
								}

								&.disabled {
									filter: grayscale(1);
									pointer-events: none;
								}
							}

							span {
								width: 80%;
								font-size: 14px;
								line-height: 17px;
								font-weight: 400;

								a {
									text-decoration: underline;
								}
							}
						}
					}

					&.column_2 {
						display: flex;
						align-items: center;

						a {
							width: 100px;
							display: block;

							&:hover {
								svg {
									path {
										fill: $cor-principal;
									}
								}
							}

							i {
								position: relative;
								bottom: -3px;
								margin-left: 7px;
							}
						}
					}
				}
			}
		}
	}
}

body>main>div>div>div:nth-child(1)>div>div>div>div>section>main>main>div.w-60-ns.w-100-s>div>article>footer>button,
nav.vtex-account__menu-links a:last-child {
	display: none;
}

body>main>div>div:nth-child(1)>div:nth-child(1)>div>div>div>div>section>main.vtex-account__cards-list>div>div>span>span {
	font-size: 0;

	&:after {
		content: 'Voc\00EA\00A0n\00E3\006F\00A0 tem nenhum cart\00E3\006F\00A0 de cr\00E9 dito cadastrado.';
		font-size: 1.75rem;
	}
}