.cadastro {
    main {
        padding: 100px 0;
        margin-bottom: 25px;
        background-color: #e5e5e5;

        section {
            &.content {
                &.content_1 {
                    article {
                        width: 100%;
                        max-width: 560px;
                        height: auto;
                        margin: 0 auto;
                        background-color: #fff;
                        padding: 25px;
                        box-shadow: 0px 0px 10px 5px #dcdcdc;

                        form {
                            fieldset {
                                i {
                                    width: 100%;
                                    display: block;
                                    text-align: center;
                                }

                                .title {
                                    color: $cor-secundaria;

                                    &.small {
                                        margin: 20px 0;
                                        font-size: 18px;
                                        font-weight: normal;
                                    }

                                    &.large {
                                        font-size: 22px;
                                        font-weight: bold;
                                    }
                                }

                                .input {
                                    width: 100%;
                                    max-width: 275px;
                                    height: 45px;
                                    border-radius: 4px;
                                    background-color: #F5F5F5;
                                    display: flex;
                                    align-items: center;
                                    margin: 0 auto 20px;

                                    input {
                                        background-color: transparent;
                                    }

                                    input[type="text"] {
                                        width: 70%;
                                        height: 100%;
                                        text-indent: 10px;
                                    }

                                    input[type="submit"] {
                                        width: 30%;
                                        height: 70%;
                                        border-left: 1px solid #dcdcdc;
                                        color: $cor-cta;
                                        font-weight: bold;
                                        text-align: center;
                                        cursor: pointer;
                                        transition: all 300ms;
                                    }
                                }
                            }
                        }

                        &.step {

                            //consultar cep
                            &.step_1 {
                                form {
                                    a {
                                        display: block;
                                        text-align: center;
                                        text-decoration: underline;
                                    }
                                }
                            }

                            //consultar cnpj
                            &.step_2 {
                                form {
                                    .input {
                                        max-width: 400px;
                                    }

                                    .back {
                                        width: 100%;
                                        max-width: 400px;
                                        display: block;
                                        margin: 0 auto;
                                        text-decoration: underline;
                                    }
                                }
                            }

                            //send token
                            //active account
                            &.step_3,
                            &.step_4 {
                                form {
                                    fieldset {
                                        .description {
                                            color: #959595;
                                            margin-bottom: 20px;
                                        }

                                        label {
                                            margin-bottom: 20px;

                                            input {
                                                width: 100%;
                                                height: 45px;
                                                border: 1px solid #dcdcdc;
                                                border-radius: 4px;
                                                text-indent: 10px;
                                                margin-top: 5px;
                                            }
                                        }

                                        .text {
                                            margin: 20px 0;
                                        }

                                        ul {
                                            margin: 10px 0 20px;

                                            li {
                                                display: flex;
                                                align-items: center;
                                                font-size: 12px;
                                                transition: color 300ms;
                                                color: #727272;

                                                &.active {
                                                    color: $cor-cta;
                                                    font-weight: bold;

                                                    &:before {
                                                        border-color: $cor-cta;
                                                        ;
                                                    }
                                                }

                                                &:before {
                                                    opacity: 0;
                                                    content: '';
                                                    width: 8px;
                                                    height: 8px;
                                                    display: block;
                                                    border-right: 2px solid #727272;
                                                    border-bottom: 2px solid #727272;
                                                    margin-right: 5px;
                                                    transform: rotate(45deg);
                                                    margin-top: -5px;
                                                    transition: border-color 300ms;
                                                }
                                            }
                                        }

                                        .submit {
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;

                                            @media screen and (max-width:$mobile) {
                                                flex-direction: column;
                                            }
                                        }

                                        input[type="submit"] {
                                            width: 100%;
                                            max-width: 192px;
                                            height: 40px;
                                            line-height: 40px;
                                            border-radius: 50px;
                                            background-color: $cor-cta;
                                            color: #fff;
                                            font-size: 18px;
                                            font-weight: bold;
                                            cursor: pointer;
                                            float: right;
                                            transition: all 300ms;

                                            @media screen and (max-width:$mobile) {
                                                margin-top: 15px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.content_2 {
                    ul {
                        display: flex;

                        li {

                            margin-right: 20px;

                            &.active {
                                p {
                                    color: $cor-secundaria;

                                    @media screen and (max-width:$iphone5) {
                                        font-size: 12px;
                                    }

                                    @media screen and (min-width:$iphone5) and (max-width:$mobile) {
                                        font-size: 13px;
                                    }

                                    i {
                                        svg {
                                            path {
                                                fill: $cor-secundaria;
                                            }
                                        }
                                    }
                                }

                                &:after {
                                    background-color: $cor-secundaria;
                                }
                            }

                            &:after {
                                content: '';
                                display: block;
                                width: 100%;
                                height: 4px;
                                border-radius: 50px;
                                background-color: #A5A5A5;
                                position: relative;
                                bottom: -5px;
                            }

                            p {
                                color: #A5A5A5;
                                height: 40px;
                                display: flex;
                                align-items: flex-end;
                                transition: all 300ms;

                                i {
                                    margin-right: 10px;

                                    svg {
                                        path {
                                            fill: #a5a5a5;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .columns {
                        width: 100%;
                        max-width: 965px;
                        height: auto;
                        display: flex;
                        margin: 0 auto;
                        background-color: #fff;
                        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

                        .column {
                            width: 50%;

                            &.column_1 {
                                display: flex;

                                @media screen and (max-width:$mobile) {
                                    display: none;
                                }
                            }

                            &.column_2 {
                                padding: 40px 50px;

                                @media screen and (max-width:$mobile) {
                                    width: 100%;
                                    padding: 15px;
                                }

                                form {
                                    margin-top: 40px;

                                    fieldset {
                                        p {
                                            &.column {
                                                width: 100%;;
                                                display: flex;
                                                justify-content: space-between;

                                                label {
                                                    width: 48%;
                                                }
                                            }
                                        }

                                        label {
                                            span {
                                                i {
                                                    color: red;
                                                }
                                            }

                                            input[type="text"],
                                            input[type="email"],
                                            input[type="number"] {
                                                width: 100%;
                                                height: 40px;
                                                text-indent: 10px;
                                                border-radius: 4px;
                                                pointer-events: none;
                                                margin: 5px 0 20px;
                                                border: 1px solid #dcdcdc;
                                                transition: border 300ms;

                                                &.alert {
                                                    border-color: $cor-secundaria;
                                                }

                                                &[readonly="readonly"] {
                                                    background-color: #DFDEDE;
                                                }
                                            }

                                            select {
                                                width: 100%;
                                                height: 40px;
                                                text-indent: 10px;
                                                margin: 5px 0 20px;
                                                border-radius: 4px;
                                                border: 1px solid #dcdcdc;
                                            }
                                        }

                                        .termos {
                                            margin-bottom: 50px;

                                            >p {
                                                margin: 20px 0;
                                            }

                                            label {
                                                display: flex;
                                                align-items: center;
                                                margin-bottom: 10px;

                                                span {
                                                    width: 80%;
                                                    font-weight: 300;

                                                    a {
                                                        text-decoration: underline;
                                                    }
                                                }

                                                input {
                                                    width: 20px;
                                                    height: 20px;
                                                    position: relative;
                                                    margin-right: 10px;

                                                    &:checked {
                                                        &:after {
                                                            background-size: 70%;
                                                        }
                                                    }

                                                    &:after {
                                                        content: '';
                                                        width: 100%;
                                                        height: 100%;
                                                        display: block;
                                                        border-radius: 3px;
                                                        background-color: #fff;
                                                        border: 1px solid $cor-cta;
                                                        background-size: 0;
                                                        background-position: center;
                                                        background-repeat: no-repeat;
                                                        background-image: url(/arquivos/ico_checked.png);
                                                    }
                                                }
                                            }
                                        }

                                        .submit {
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                        }

                                        input[type="submit"],
                                        .next_step {
                                            width: 100%;
                                            max-width: 192px;
                                            height: 40px;
                                            line-height: 40px;
                                            border-radius: 50px;
                                            background-color: $cor-cta;
                                            color: #fff;
                                            font-size: 18px;
                                            font-weight: bold;
                                            text-align: center;
                                            cursor: pointer;
                                            float: right;
                                            transition: all 300ms;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}