.departamento {
	main {

		/* width */
		::-webkit-scrollbar {
			width: 7px;
			height: 5px;
		}

		/* Track */
		::-webkit-scrollbar-track {
			border-radius: 50px;
			background-color: #e4e4e4;
		}

		/* Handle */
		::-webkit-scrollbar-thumb {
			background-color: $cor-principal;
			border-radius: 50px;
		}

		.full_banner {
			img {
				width: 100%;
				height: auto;
			}
		}

		.titulo-sessao {
			font-size: 30px;
			font-weight: 400;
			margin: 20px 0;

			@media screen and (max-width: $mobile) {
				margin-top: 0;
				text-align: center;
			}
		}

		.search_navigator {
			padding: 15px;
			background-color: #fff;

			@media screen and (max-width: $mobile) {
				position: fixed;
				width: 100%;
				height: 100%;
				bottom: -100%;
				z-index: 999;
				left: 0;
				transition: bottom 300ms;

				&.active {
					bottom: 0;
				}
			}

			.head {
				@media screen and (max-width: $mobile) {
					display: block;
					margin-bottom: 20px;

					p {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						font-size: 28px;
						font-weight: 400;
						color: $cor-principal;

						span {
							color: black;
							font-weight: bold;
						}
					}
				}
			}

			.content {
				@media screen and (max-width:$mobile) {
					overflow: scroll;
					height: calc(100% - 110px);
				}

				.navigation-tabs {
					.menu-departamento {
						div {

							.search-single-navigator,
							.menu-navegue {
								display: none !important;
							}

							.search-multiple-navigator {
								display: block !important;

								h3,
								h4,
								.bt-refinar {
									display: none;
								}

								.bt-refinar {
									&+fieldset {
										h5 {
											border-top: 0;
											padding-top: 0;
										}
									}
								}

								fieldset {
									&:last-child {
										div {
											margin-bottom: 0;
										}
									}

									h5 {
										font-size: 18px;
										font-weight: 400;
										padding-top: 10px;
										margin-bottom: 15px;
										color: $cor-principal;
										border-top: 1px solid #dcdcdc;
									}

									.busca_filtro {
										width: 100%;
										height: 35px;
										display: flex;
										border: 1px solid #dcdcdc;
										background-color: #fff;
										margin-bottom: 15px;

										input[type="text"] {
											width: 100%;
											text-indent: 10px;
											background-image: url(/arquivos/ico-lupa.png);
											background-repeat: no-repeat;
											background-position: 95%;
										}
									}

									div {
										max-height: 400px;
										margin-bottom: 40px;
										overflow-x: hidden;
										overflow-y: scroll;

										label {
											display: flex;
											margin-bottom: 7px;
											cursor: pointer;

											input {
												width: 15px;
												height: 15px;
												margin-right: 10px;
												position: relative;
												cursor: pointer;
												bottom: -3px;

												&:checked {
													&:after {
														border-color: $cor-cta;
														background-image: url(/arquivos/ico-checked.png);
														background-repeat: no-repeat;
														background-position: center;
														background-size: 75%;
													}
												}

												&:after {
													content: "";
													width: 15px;
													height: 15px;
													border: 1px solid #dcdcdc;
													display: block;
													background: white;
													border-radius: 2px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}

			.footer {
				@media screen and (max-width: $mobile) {
					display: block;
					padding: 10px 0;

					ul {
						display: flex;
						justify-content: space-between;

						li {
							&.clear {
								width: 40%;

								a {
									display: flex;
									align-items: center;
									color: #585858;
									height: 40px;
									line-height: 45px;
									font-size: 14px;
									font-weight: bold;

									svg {
										width: 20px;
										height: 20px;
										margin-left: 10px;
									}
								}
							}

							&.btn_aplicar {
								width: 60%;

								a {
									width: 100%;
									height: 45px;
									line-height: 45px;
									color: white;
									display: block;
									font-size: 16px;
									font-weight: bold;
									text-align: center;
									text-transform: uppercase;
									background-color: $cor-cta;
									border-radius: 2px;
								}
							}
						}
					}
				}
			}
		}

		.sugestions {
			height: 60px;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: center;
			margin-bottom: 30px;
			background-color: #fff;
			padding: 0 10px;

			@media screen and (max-width:$mobile) {
				height: auto;
				display: block;
				margin-bottom: 10px;
				padding: 20px 10px;
			}

			.title {
				width: 15%;

				@media screen and (max-width:$mobile) {
					width: 100%;
					text-align: center;
					padding-bottom: 10px;
				}
			}

			.content {
				width: 85%;

				@media screen and (max-width:$mobile) {
					width: 100%;
				}

				ul {
					//SCROLL
					display: flex;
					overflow-y: hidden;
					padding-bottom: 5px;
					flex-wrap: nowrap;
					align-items: center;
					-webkit-overflow-scrolling: touch;
					-ms-overflow-style: -ms-autohiding-scrollbar;

					li {
						width: auto;
						height: 35px;
						line-height: 35px;
						padding: 0 30px;
						border-radius: 2px;
						background-color: $cor-secundaria;
						margin-right: 10px;
						flex: 0 0 auto;

						a {
							display: block;
							font-size: 14px;
							font-weight: bold;
						}
					}
				}
			}
		}

		.filter_buttons {
			@media screen and (max-width: $mobile) {
				display: block;
				margin-bottom: 30px;
				border-top: 1px solid #dcdcdc;
				border-bottom: 1px solid #dcdcdc;

				ul {
					display: flex;
					justify-content: space-around;
					background-color: #f5f5f5;
					margin-right: -15px;
					margin-left: -15px;
					padding: 10px 0;

					li {
						width: 50%;

						&:nth-child(1) {
							border-right: 1px solid #dcdcdc;
						}

						a {
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 18px;
							font-weight: 300;

							img,
							svg {
								width: 20px;
								margin-right: 10px;

								path,
								g {
									fill: black;
								}
							}
						}
					}
				}
			}
		}

		.flags {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			.content {
				width: 86%;

				@media screen and (max-width:$mobile) {
					width: 100%;
				}

				ul {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;

					li {
						width: 150px;
						height: 30px;
						line-height: 30px;
						padding: 0 10px;
						cursor: pointer;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-between;
						margin-right: 10px;
						margin-bottom: 10px;

						&:last-child {
							margin-right: 0;
						}

						&.sr_on {
							@media screen and (min-width:$mobile) {
								display: none;
							}
						}

						p {
							font-size: 14px;
							font-weight: 300;
							text-decoration: underline;
						}

						span {
							font-size: 16px;
							font-weight: bold;
							color: $cor-principal;
						}
					}
				}
			}

			.clear {
				width: 14%;

				@media screen and (max-width:$mobile) {
					display: none;
				}

				a {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					color: #585858;
					font-weight: 300;
					font-size: 13px;

					svg {
						width: 20px;
						height: 20px;
						margin-left: 10px;
					}
				}
			}
		}

		.ordenar_por {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: center;
			margin-bottom: 7px;
			padding-bottom: 7px;
			border-bottom: 1px solid #dcdcdc;

			@media screen and (max-width: $mobile) {
				width: 100%;
				height: 100%;
				padding: 0 15px;
				margin: 0;
				flex-direction: column;
				background-color: #f5f5f5;
				transition: bottom 300ms;
				position: fixed;
				bottom: -100%;
				left: 0;

				&.active {
					bottom: 0;
				}
			}

			.title {
				width: 12%;

				@media screen and (max-width: $mobile) {
					width: 100%;
				}

				p {
					font-weight: bold;

					@media screen and (max-width:$mobile) {
						display: flex;
						justify-content: space-between;
						padding: 15px 0 20px;
						font-size: 28px;
						font-weight: 400;
						color: $cor-principal;

						span {
							display: block;
							color: black;
							font-weight: bold;
						}
					}
				}
			}

			.content {
				width: 88%;

				@media screen and (max-width: $mobile) {
					width: 100%;
				}

				ul {
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;

					@media screen and (max-width:$mobile) {
						flex-direction: column;
					}

					li {
						label {
							font-size: 11px;
							font-weight: 300;
							cursor: pointer;
							text-transform: uppercase;

							@media screen and (max-width:$mobile) {
								display: flex;
							}

							&.no_click {
								pointer-events: none;
							}

							&.active {
								pointer-events: none;

								input {
									&:after {
										border-color: $cor-cta;
										background-image: url(/arquivos/ico-checked.png);
										background-repeat: no-repeat;
										background-position: center;
										background-size: 75%;
									}
								}
							}

							@media screen and (min-width: $mobile) {
								&.active {
									font-weight: bold;
									color: $cor-principal;
								}

								&:after {
									content: "|";
									position: relative;
									top: -2px;
									right: -12px;
								}

								&:last-child {
									&:after {
										display: none;
									}
								}
							}

							input {
								display: none;

								@media screen and (max-width:$mobile) {
									display: block;
									width: 15px;
									height: 15px;
									margin-right: 10px;
									position: relative;
									bottom: -3px;
								}

								&:after {
									content: "";
									width: 15px;
									height: 15px;
									border: 1px solid #dcdcdc;
									display: block;
									background: white;
									border-radius: 2px;
									cursor: pointer;
								}
							}
						}
					}
				}
			}

			.footer {
				@media screen and (max-width: $mobile) {
					width: 100%;
					display: block;
					padding: 10px 0;

					ul {
						display: flex;
						justify-content: space-between;

						li {
							&.clear {
								width: 40%;

								a {
									display: flex;
									align-items: center;
									color: #585858;
									height: 40px;
									line-height: 45px;
									font-size: 13px;
									font-weight: 300;

									svg {
										width: 20px;
										height: 20px;
										margin-left: 10px;
									}
								}
							}

							&.btn_aplicar {
								width: 60%;

								a {
									width: 100%;
									height: 45px;
									line-height: 45px;
									color: white;
									display: block;
									font-size: 16px;
									font-weight: bold;
									text-align: center;
									text-transform: uppercase;
									background-color: $cor-cta;
									border-radius: 2px;
								}
							}
						}
					}
				}
			}
		}

		.main {
			@media screen and (min-width:$mobile) {
				margin-top: 20px;
			}

			.searchResultsTime,
			.sub,
			.pager {
				display: none;
			}

			.vitrine {
				.prateleira {
					ul {
						li {
							width: calc(100% / 3);
							margin-top: 0;

							@media screen and (max-width: $mobile) {
								width: 100%;
								margin-bottom: 15px;
							}
						}
					}
				}

				.btn-load-more {
					display: block;
					margin: 0 auto 30px;
					width: 180px;
					height: 45px;
					line-height: 45px;
					text-align: center;
					text-transform: uppercase;
					border: 2px solid $cor-cta;
					color: $cor-cta;
					font-size: 16px;
					font-weight: 600;
					border-radius: 2px;
					cursor: pointer;
				}
			}
		}

		.description_category {
			p {
				font-size: 14px;
				font-weight: 300;
				line-height: 17px;
				text-align: center;
				padding-top: 30px;
				margin-top: 30px;
				border-top: 1px solid #dcdcdc;

				&:empty {
					display: none;
				}

				@media screen and (max-width:$mobile) {
					margin-bottom: 30px;
				}
			}
		}
	}
}

#returnToTop {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 15%;
	bottom: 5%;
	border-radius: 50px;
	background-color: $cor-principal;
	cursor: pointer;

	@media screen and (max-width:$mobile) {
		right: 15px;
		bottom: 75px;
	}

	span {
		width: 20px;
		height: 20px;
		border-right: 2px solid white;
		border-bottom: 2px solid white;
		display: block;
		transform: rotate(225deg);
		margin-bottom: -10px;
	}
}