footer {
    .toggle {
        @media screen and (max-width:$mobile) {
            padding: 0 15px;
            margin-left: -15px;
            margin-right: -15px;
            border-top: 1px solid #dcdcdc;

            &.contact {
                margin-bottom: 30px;
                border-bottom: 1px solid #dcdcdc;
            }

            .title {
                height: 60px;
                line-height: 60px;
                font-size: 18px;
                font-weight: bold;
                display: block;

                @media screen and (max-width:$mobile) {
                    margin-bottom: 0;
                }

                &.active {
                    &:after {
                        content: '-';
                    }
                }

                &:after {
                    content: '+';
                    float: right;
                }

                &+ul {
                    display: none;
                    margin-bottom: 15px;
                }
            }
        }
    }

    .row_1 {
        max-width: 95%;
        margin: 0 auto 50px;
        border-radius: 70px;
        border: 2px solid $cor-secundaria;

        @media screen and (min-width: 1480px) {
            max-width: 80%;
        }

        @media screen and (max-width:$mobile) {
            width: 95%;
            border-radius: 10px;
        }

        article {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0;

            @media screen and (max-width:$mobile) {
                flex-direction: column;

                img {
                    width: 60%;
                    margin-bottom: 20px;
                }
            }

            p {
                font-size: 22px;
                
                @media screen and (min-width:$mobile)  and (max-width:1280px) {
                    font-size: 18px;
                }

                @media screen and (max-width:$mobile) {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                }

                small {
                    margin: 0 15px;
                }

            }

            a {
                font-size: 18px;
                font-weight: bold;

                @media screen and (max-width:$mobile) {
                    margin-top: 20px;
                }
            }
        }
    }

    .row_2 {
        p {
            margin-bottom: 10px;
        }

        .toggle {
            &.contact {
                ul {
                    li {
                        a {
                            display: flex;
                            align-items: center;

                            svg {
                                margin-right: 7px;
                            }
                        }
                    }
                }
            }
        }

        ul {
            &.secure,
            &.payment {
                display: flex;
                align-items: center;

                li {
                    margin-right: 10px;
                }
            }

            &.secure {
                img {
                    @media screen and (max-width:$iphone5) {
                        width: 60px;
                        height: auto;
                    }
                }
            }

            li {
                margin-bottom: 10px;
            }
        }
    }

    .row_3 {
        padding: 7px 0;
        background-color: $cor-principal;

        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            @media screen and (max-width:$mobile) {
                padding: 0 15px;
            }

            ul {
                display: flex;
                flex-wrap: wrap;

                @media screen and (min-width:$mobile) {
                    justify-content: center;

                    li {
                        a {
                            &:hover {
                                color: black;
                            }
                        }

                        @media screen and (min-width:$mobile) {
                            &:after {
                                content: '|';
                                margin: 0 10px;
                            }
                        }
                    }
                }

                @media screen and (max-width:$mobile) {
                    width: 50%;
                    flex-direction: column;

                    li {
                        margin: 7px 0;
                    }
                }
            }
        }
    }

    .row_4 {
        margin: 5px 0;

        p {
            text-align: center;

            @media screen and (max-width:$mobile) {
                padding: 15px;
                color: #666666;
            }
        }
    }
}