header {
    .row_1 {
        padding: 10px 0;
        text-align: center;
        background-color: #CAA030;

        p {
            letter-spacing: 0.13em;
            text-transform: uppercase;

            @media screen and (min-width:810px) {
                height: 19px;
                display: flex;
                justify-content: center;
            }

            @media screen and (max-width:810px) {
                font-size: 11px;
            }

            a {
                margin: 0 5px;
                text-decoration: underline;

                @media screen and (min-width:810px) {
                    position: relative;
                    height: 25px;
                }

                &:hover {
                    color: #000;

                    i {
                        display: block;
                    }
                }

                span {
                    display: inline-block;
                    background-color: #FFDF8B;
                    width: 13px;
                    height: 13px;
                    line-height: 13px;
                    border-radius: 50px;
                    text-align: center;
                    font-size: 13px;

                    @media screen and (max-width:810px) {
                        display: none;
                    }
                }


                i {
                    position: absolute;
                    background-color: white;
                    box-shadow: 0px 0px 6px 3px #dcdcdc;
                    text-transform: initial;
                    text-align: left;
                    padding: 10px;
                    width: 500px;
                    font-size: 12px;
                    font-style: normal;
                    top: 22px;
                    left: 0;
                    z-index: 1;

                    @media screen and (max-width:810px) {
                        width: calc(100% - 30px);
                        left: 15px;
                    }
                }
            }
        }
    }

    .row_2 {
        margin: 15px 0;

        .columns {
            display: flex;
            justify-content: space-between;
            align-items: center;

            //AJUSTE PARA O BOTÃO - QUERO COMPRAR - DESKTOP
            &.active {
                @media screen and (min-width:810px) {
                    .column {
                        &.column_2 {
                            width: 35%;
                        }

                        &.column_3 {
                            width: 20%;
                        }

                        &.column_4 {
                            width: 30%;
                        }
                    }
                }
            }

            //AJUSTE PARA O BOTÃO - QUERO COMPRAR - DESKTOP

            //AJUSTE PARA O BOTÃO - QUERO COMPRAR - MOBILE
            &.active {
                .column {

                    //IPHONE5
                    @media screen and (max-width:810px) {
                        &.column_0 {
                            width: 15%;
                        }

                        &.column_1 {
                            width: 30%;
                        }

                        &.column_4 {
                            width: 45%;

                            .menu {
                                display: block;
                            }
                        }
                    }

                    //DEMAIS CELULARES
                    @media screen and (min-width:$iphone5) and (max-width:810px) {
                        &.column_0 {
                            width: 15%;
                        }

                        &.column_1 {
                            width: 40%;
                        }

                        &.column_4 {
                            width: 35%;

                            .menu {
                                display: block;
                            }
                        }
                    }
                }
            }

            //AJUSTE PARA O BOTÃO - QUERO COMPRAR - MOBILE

            .column {
                transition: width 300ms;

                &.column_0 {
                    @media screen and (max-width:810px) {
                        display: block;
                        width: 25%;

                        i {
                            width: 45px;
                            height: auto;
                            display: block;

                            span {
                                width: 100%;
                                height: 3px;
                                background-color: #bf0811;
                                border-radius: 2px;
                                display: block;
                                margin-bottom: 6px;

                                &:last-child {
                                    width: 70%;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

                &.column_1 {
                    width: 15%;

                    @media screen and (max-width:810px) {
                        width: 50%;
                    }

                    a {
                        display: block;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                &.column_2 {
                    @media screen and (min-width:810px) {
                        width: 40%;
                    }

                    nav {
                        @media screen and (max-width:810px) {
                            width: 80%;
                            height: auto;
                            position: fixed;
                            top: 0;
                            left: -100%;
                            z-index: 12;
                            background-color: white;
                            transition: all 300ms;

                            &.active {
                                left: 0;
                            }
                        }

                        .head {
                            @media screen and (max-width:810px) {
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-end;
                                height: 100px;
                                padding: 15px;
                                color: #fff;
                                background-color: #BF0811;

                                a {
                                    &[href="/account"] {
                                        font-size: 18px;

                                        span {
                                            display: block;
                                            margin-top: 2px;
                                            font-size: 14px;
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }
                        }

                        .content {
                            @media screen and (max-width:810px) {
                                padding: 15px;
                            }

                            ul {
                                @media screen and (min-width:810px) {
                                    display: flex;
                                    justify-content: space-evenly;
                                    align-items: center;
                                }

                                @media screen and (max-width:810px) {
                                    display: flex;
                                    flex-direction: column;
                                }

                                li {
                                    @media screen and (min-width:810px) {
                                        width: 33.3%;
                                        text-align: center;
                                    }

                                    @media screen and (max-width:810px) {
                                        margin-bottom: 20px;
                                    }

                                    a {
                                        font-size: 14px;
                                        font-weight: normal;
                                        text-transform: uppercase;
                                    }
                                }
                            }
                        }

                        .ft {
                            @media screen and (max-width:810px) {
                                padding: 15px;
                                display: block;

                                ul {
                                    margin-top: 20px;
                                    padding-top: 5px;
                                    border-top: 1px solid #dcdcdc;

                                    li {
                                        margin-bottom: 15px;

                                        a {
                                            display: flex;
                                            align-items: center;

                                            i {
                                                margin-right: 15px;
                                            }
                                        }
                                    }
                                }

                                p {
                                    font-size: 10px;
                                    color: #717171;
                                }
                            }
                        }
                    }
                }

                &.column_3 {
                    width: 25%;

                    @media screen and (max-width:810px) {
                        display: none;
                    }

                    .contact {
                        display: flex;
                        justify-content: center;

                        li {
                            a {
                                display: flex;
                                align-items: center;
                                font-weight: bold;
                                text-transform: uppercase;
                                color: #343434;

                                svg {
                                    margin-right: 5px;
                                }
                            }
                        }
                    }

                    >p {
                        font-size: 10px;
                        color: #717171;
                        text-align: center;
                    }
                }

                &.column_4 {
                    width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @media screen and (max-width:810px) {
                        width: 25%;
                        justify-content: flex-end;
                    }

                    .menu {
                        position: relative;

                        @media screen and (min-width:810px) {
                            display: flex;
                        }

                        @media screen and (max-width:810px) {
                            display: none;
                        }

                        >a {
                            width: 145px;
                            height: 40px;
                            color: white;
                            font-size: 13px;
                            font-weight: bold;
                            text-align: center;
                            border-radius: 50px;

                            &:not(.dis-none) {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            &[title="Quero Comprar"] {
                                margin-right: 10px;
                                line-height: 15px;
                                background-color: $cor-cta;

                                span {
                                    @media screen and (min-width:810px) {
                                        margin-right: 5px;
                                    }
                                }

                                @media screen and (max-width:810px) {
                                    width: 90px;
                                    height: 35px;
                                    font-size: 12px;
                                    line-height: 12px;
                                    padding-bottom: 2px;
                                    flex-direction: column;
                                    text-transform: capitalize;
                                }
                            }

                            &[title="Minha Conta"] {
                                background-color: #BF0811;

                                @media screen and (max-width:810px) {
                                    display: none;
                                }

                                &:after {
                                    content: '';
                                    margin-left: 15px;
                                    font-weight: 300;
                                    display: inline-block;
                                    border-right: 1px solid #fff;
                                    border-bottom: 1px solid #fff;
                                    width: 8px;
                                    height: 8px;
                                    transform: rotate(45deg);
                                    position: relative;
                                    top: -3px;
                                }

                                &:hover {
                                    &+ul {
                                        display: block;
                                    }
                                }
                            }
                        }

                        ul {
                            display: none;
                            position: absolute;
                            top: 40px;
                            right: 0;
                            z-index: 1;
                            width: 100%;
                            max-width: 145px;
                            height: auto;
                            padding: 15px;
                            text-align: center;
                            background-color: #fff;

                            &:hover {
                                display: block;
                            }

                            li {
                                a {
                                    width: 100%;
                                    height: 40px;
                                    line-height: 40px;
                                    display: block;
                                }

                                &:nth-child(1) {
                                    border-radius: 50px;
                                    border: 2px solid #BF0811;
                                }

                                &:nth-child(1),
                                &:nth-child(2) {
                                    a {
                                        font-weight: bold;
                                        color: #BF0811;
                                    }
                                }
                            }
                        }
                    }

                    >a {
                        width: 45px;
                        height: 37px;
                        display: block;
                        position: relative;

                        &:hover {
                            color: #000;
                        }

                        svg {
                            @media screen and (max-width:$mobile) {
                                width: 40px;
                                height: 37px;
                            }
                        }

                        span {
                            position: absolute;
                            top: 0;
                            right: 0;
                            background-color: #C4C4C4;
                            border-radius: 50px;
                            width: 15px;
                            height: 15px;
                            text-align: center;
                            line-height: 15px;
                        }
                    }
                }
            }
        }
    }
}