.home {
    main {
        .full_banner {
            ul {
                &:not(.slick-slide) {
                    .box-banner {
                        &:not(:first-child) {
                            display: none;
                        }
                    }
                }
            }

            .desktop {
                ul {

                    .slick-slide {
                        overflow: hidden;

                        a {
                            font-size: 0;

                            img {
                                @media screen and (min-width:$mobile) {
                                    position: relative;
                                    left: 50%;
                                    margin-left: -960px;
                                }
                            }
                        }
                    }
                }
            }

            .mobile {
                ul {
                    a {
                        img {
                            @media screen and (max-width:$mobile) {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }
            }

            .slick-dots {
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 5px;

                li {
                    margin: 0 4px;

                    &.slick-active {
                        button {
                            width: 40px;
                            background-color: $cor-principal
                        }
                    }

                    button {
                        width: 13px;
                        height: 13px;
                        font-size: 0;
                        display: block;
                        border-radius: 50px;
                        transition: all 300ms;
                        background-color: #dcdcdc;
                        cursor: pointer;
                    }
                }
            }
        }

        .tipbar {
            max-width: 80%;
            margin: 40px auto 60px;

            @media screen and (max-width:$mobile) {
                width: 95%;
            }

            ul {
                @media screen and (min-width:$mobile) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                @media screen and (max-width:$mobile) {
                    &:not(.slick-slide) {
                        li {
                            &:not(:first-child) {
                                display: none;
                            }
                        }
                    }
                }

                li {
                    a {
                        display: flex;
                        padding: 0 7px;
                        align-items: center;

                        i {
                            margin-right: 15px;

                            @media screen and (max-width:$mobile) {
                                float: left;
                            }

                            @media screen and (min-width:$mobile) and (max-width:1380px) {
                                margin-right: 7px;
                            }
                        }

                        p {
                            font-size: 13px;
                            border-bottom: 2px solid $cor-secundaria;


                            @media screen and (min-width:$mobile) and (max-width:1380px) {
                                font-size: 12px;
                            }

                            @media screen and (min-width:1390px) {
                                width: 70%;
                            }

                            @media screen and (min-width:$mobile) {
                                height: 60px;
                            }

                            strong {
                                font-size: 14px;
                                color: $cor-secundaria;
                            }
                        }
                    }
                }
            }
        }

        .box_cep {
            width: 100%;
            padding: 15px 0;
            border-radius: 50px;
            background-color: $cor-secundaria;
            position: relative;
            z-index: 1;

            @media screen and (max-width:$mobile) {
                width: calc(100% + 30px);
                padding: 20px 15px;
                margin-left: -15px;
                margin-right: -15px;
                border-radius: 0;

                >svg {
                    display: block;
                    margin: 0 auto 15px;
                }
            }

            p {
                font-size: 16px;
                color: #FFF8BC;
                text-align: center;
                margin-bottom: 15px;
            }

            form {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                fieldset {
                    &.input {
                        width: 280px;
                        height: 45px;
                        margin: 0 20px;
                        border-radius: 3px;
                        background-color: white;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                        }

                        input[type="text"] {
                            width: 70%;
                            height: 100%;
                            text-indent: 10px;
                            float: left;
                        }

                        input[type="submit"] {
                            width: 30%;
                            height: 30px;
                            margin-top: 7px;
                            color: $cor-cta;
                            background-color: white;
                            border-left: 1px solid #dcdcdc;
                            float: left;
                            cursor: pointer;
                        }
                    }

                    @media screen and (max-width:$mobile) {
                        svg {
                            display: none;
                        }
                    }

                    a {
                        color: #FFF8BC;
                        text-decoration: underline;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            display: block;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }

        .cards {
            margin-top: -55px;
            padding-bottom: 60px;

            @media screen and (min-width:$mobile) {
                background-color: #E5E5E5;
            }

            @media screen and (max-width:$mobile) {
                background-color: #F7F7F7;
                margin-top: 0;
            }

            h2 {
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                margin: 100px 0 40px;
                color: #58290F;

                @media screen and (max-width:$mobile) {
                    margin: 40px 0;
                }

                &:after {
                    content: '';
                    width: 100px;
                    height: 4px;
                    display: block;
                    margin: 7px auto 0;
                    border-radius: 3px;
                    background-color: $cor-principal;
                }
            }

            ul {
                height: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                li {
                    width: 30%;
                    text-align: center;
                    border-radius: 3px;
                    padding-bottom: 30px;
                    background-color: #fff;

                    @media screen and (min-width:$mobile) {
                        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
                    }

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        margin-bottom: 20px;
                    }

                    .title {
                        font-size: 22px;
                        font-weight: bold;
                        color: $cor-secundaria;
                        margin: 25px 0;
                    }

                    .description {
                        height: 150px;
                        font-size: 16px;
                        padding: 0 10%;

                        small {
                            color: #727272;
                            display: block;
                        }
                    }
                }
            }
        }

        .apresentacao {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .column {
                &.column_1 {
                    width: 25%;

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        text-align: center;
                        padding-top: 50px;
                    }

                    .title {
                        font-size: 28px;
                        font-weight: bold;
                        color: #58290F;

                        @media screen and (max-width:$mobile) {
                            font-size: 20px;
                        }
                    }

                    .description {
                        font-size: 30px;
                        line-height: 30px;

                        @media screen and (max-width:$mobile) {
                            font-size: 24px;
                        }

                        small {
                            display: block;
                            font-size: 14px;
                        }
                    }

                    .price {
                        margin-top: 20px;

                        strong {
                            font-size: 30px;
                            font-weight: bold;
                            line-height: 30px;
                        }

                        small {
                            display: block;
                            font-size: 12px;
                            color: $cor-texto-light;
                        }
                    }
                }

                &.column_2 {
                    width: 50%;

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        margin: 30px 0;
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                &.column_3 {
                    width: 25%;

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                    }

                    a,
                    p {
                        @media screen and (max-width:$mobile) {
                            width: calc(100% + 30px) !important;
                            margin-left: -15px;
                            border-radius: 0 !important;
                        }
                    }

                    a {
                        width: 100%;
                        height: 70px;
                        line-height: 70px;
                        font-size: 28px;
                        font-weight: bold;
                        text-align: center;
                        border-radius: 60px;
                        box-shadow: 0px 5px 10px #66CC76;
                        background-color: $cor-cta;
                        color: white;
                        display: block;

                        &:hover {
                            color: white;
                        }
                    }

                    p {
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        border-radius: 50px;
                        background-color: #F4F4F4;
                        margin-top: 15px;
                    }
                }
            }
        }

        .apresentacao_2 {
            margin-bottom: 150px;
            background-color: #F5F5F5;

            @media screen and (max-width:$mobile) {
                margin-top: 20px;
                margin-bottom: 130px;
                padding-bottom: 30px;
            }

            @media screen and (min-width:$mobile) {
                margin-top: -75px;
            }

            h3 {
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                margin: 120px 0 40px;
                color: #58290F;

                @media screen and (max-width:$mobile) {
                    margin: 30px 0;
                }

                &:after {
                    content: '';
                    width: 100px;
                    height: 4px;
                    display: block;
                    margin: 7px auto 0;
                    border-radius: 3px;
                    background-color: $cor-principal;
                }
            }

            .columns {
                display: flex;
                flex-wrap: wrap;

                @media screen and (min-width:$mobile) {
                    margin-bottom: -55px;
                }

                .column {
                    &.column_1 {
                        width: 25%;

                        @media screen and (min-width:$mobile) {
                            padding-right: 10px;
                        }

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                        }

                        p {
                            color: #58290F;
                        }
                    }

                    &.column_2 {
                        width: 50%;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            margin: 30px 0;
                            order: 3;
                        }

                        img {
                            width: 100%;
                            height: auto;

                            @media screen and (max-width:$mobile) {
                                margin-bottom: -130px;
                            }
                        }
                    }

                    &.column_3 {
                        width: 25%;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            margin-top: 35px;
                        }

                        p {
                            color: #58290F;
                        }
                    }
                }
            }
        }

        .clube_nutella {
            position: relative;
            margin-bottom: 130px;

            @media screen and (min-width:$mobile) {
                &:after {
                    position: absolute;
                    top: -70px;
                    right: 0;
                    content: '';
                    width: 75%;
                    height: 500px;
                    display: block;
                    background-color: #F5F5F5;
                    z-index: -1;
                }
            }

            img {
                width: 100%;
                height: auto;

                @media screen and (max-width:$mobile) {
                    width: calc(100% + 30px);
                    margin-left: -15px;
                }
            }

            h3 {
                font-size: 30px;
                font-weight: bold;
                color: #58290F;

                @media screen and (max-width:$mobile) {
                    margin-top: 30px;
                    text-align: center;
                }

                &:after {
                    content: '';
                    width: 100px;
                    height: 4px;
                    display: block;
                    margin-top: 7px;
                    border-radius: 3px;
                    background-color: $cor-principal;

                    @media screen and (max-width:$mobile) {
                        margin: 0 auto;
                    }
                }
            }

            p {
                font-size: 18px;
                margin: 30px 0;
            }

            a {
                width: 385px;
                height: 70px;
                line-height: 70px;
                font-size: 28px;
                font-weight: 700;
                text-align: center;
                border-radius: 60px;
                box-shadow: 0 5px 10px #66cc76;
                background-color: #2da440;
                color: #fff;
                display: block;

                @media screen and (max-width:$mobile) {
                    width: calc(100% + 30px);
                    margin-left: -15px;
                    border-radius: 0;
                }
            }
        }
    }
}