.institucional {

  &.termos-de-uso,
  &.uso-da-marca-nutella,
  &.politica-de-privacidade {
    #btn-printer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 220px;
      height: 40px;
      border-radius: 50px;
      color: white;
      font-size: 16px;
      font-weight: 400;
      background-color: $cor-secundaria;
      margin-top: 20px;

      svg {
        margin-left: 7px;
        margin-bottom: -3px;

        path {
          fill: white;
        }
      }
    }
  }

  &.perguntas-frequentes {
    main {
      .text {
        display: none;
      }

      .questions {
        display: block;
      }
    }
  }

  main {
    padding: 40px 0;
    margin-bottom: 40px;
    background-color: #F5F5F5;

    @media screen and (max-width:$mobile) {
      padding: 10px 0 40px;
    }

    .menu {
      padding-top: 5px;

      .btn {
        @media screen and (max-width:$mobile) {
          width: calc(100% + 30px);
          margin-left: -15px;
          display: block;
          font-size: 16px;
          font-weight: normal;
          color: #353535;
          border: 1px solid #dcdcdc;
          background-color: #fff;
          box-shadow: 0 2px 0 1px #dcdcdc;
          padding: 15px 10px;
        }
      }

      ul {
        @media screen and (max-width:$mobile) {
          display: none;
          background-color: #fff;
          margin: 0 -15px;
          padding: 15px;
        }

        li {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          a {}
        }
      }
    }

    h1 {
      color: #58290F;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 40px;

      @media screen and (max-width:$mobile) {
        margin: 20px 0 40px;
      }

      &:after {
        content: '';
        width: 100px;
        height: 4px;
        display: block;
        margin-top: 7px;
        border-radius: 3px;
        background-color: $cor-principal;
      }
    }

    .text {
      >p {
        margin-bottom: 30px;
      }

      a {
        text-decoration: underline;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      //CONTATO
      form {
        padding: 30px;
        background-color: #fff;
        box-shadow: 0 4px 20px rgba(0, 0, 0, .15);

        fieldset {
          div[data-step="1"] {
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid #dcdcdc;
          }

          p {
            &.column {
              display: flex;
              align-items: center;
              justify-content: space-between;

              &.two {
                label {
                  width: 48%;
                }
              }
            }
          }

          label {
            span {
              i {
                color: red;
              }
            }

            input[type="text"],
            input[type="email"],
            input[type="number"] {
              width: 100%;
              height: 40px;
              text-indent: 10px;
              border-radius: 4px;
              pointer-events: none;
              margin: 5px 0 20px;
              border: 1px solid #dcdcdc;
              transition: border 300ms;

              &.alert {
                border-color: $cor-secundaria;
              }

              &[readonly="readonly"] {
                background-color: #DFDEDE;
              }
            }

            select {
              width: 100%;
              height: 40px;
              text-indent: 10px;
              margin: 5px 0 20px;
              border-radius: 4px;
              border: 1px solid #dcdcdc;
            }
          }

          textarea {
            resize: none;
            width: 100%;
            height: 100px;
            padding: 10px;
            font-size: 14px;
            border-radius: 4px;
            border: 1px solid #dcdcdc;
          }

          //BUTTONS
          div[data-step="1"] {
            ul {
              justify-content: flex-end !important;
            }
          }

          div[data-step="1"],
          div[data-step="2"] {
            ul {
              display: flex;
              margin-top: 15px;
              align-items: center;
              justify-content: space-between;

              li {

                .next,
                input[type="submit"] {
                  width: 192px;
                  height: 40px;
                  line-height: 40px;
                  border-radius: 50px;
                  color: #fff;
                  font-size: 18px;
                  font-weight: 700;
                  cursor: pointer;
                  transition: all .3s;
                  text-align: center;
                  background-color: $cor-cta;
                }
              }
            }
          }
        }
      }
    }

    .questions {
      ul {
        li {
          padding-bottom: 10px;
          margin-bottom: 25px;
          border-bottom: 1px solid #dcdcdc;

          &:last-child {
            border-bottom: 0;
          }

          div {
            .title {
              cursor: pointer;
              font-weight: bold;
              margin-bottom: 10px;

              &.active {
                &:before {
                  content: '-';
                }
              }

              &:before {
                content: '+';
                margin-right: 5px;
              }
            }

            .text {
              padding-left: 20px;
            }
          }
        }
      }
    }
  }
}