.login {
    main {
        padding: 100px 0;
        margin-bottom: 25px;
        background-color: #e5e5e5;

        section {
            &.step {
                article {
                    margin: 0 auto;
                    padding: 30px 60px;
                    max-width: 539px;
                    width: 100%;
                    height: auto;
                    background-color: white;
                    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

                    @media screen and (max-width:$mobile) {
                        padding: 30px 30px;
                    }

                    form {
                        fieldset {
                            .title {
                                color: $cor-secundaria;

                                &.small {
                                    margin: 20px 0;
                                    font-size: 18px;
                                    font-weight: normal;
                                }

                                &.large {
                                    font-size: 22px;
                                    font-weight: bold;
                                }
                            }

                            .input {
                                width: 100%;
                                max-width: 275px;
                                height: 45px;
                                border-radius: 4px;
                                background-color: #F5F5F5;
                                display: flex;
                                align-items: center;
                                margin: 0 auto 20px;

                                input {
                                    background-color: transparent;
                                }

                                input[type="text"] {
                                    width: 70%;
                                    height: 100%;
                                    text-indent: 10px;
                                }

                                input[type="submit"] {
                                    width: 30%;
                                    height: 70%;
                                    border-left: 1px solid #dcdcdc;
                                    color: $cor-cta;
                                    font-weight: bold;
                                    text-align: center;
                                    cursor: pointer;
                                    transition: all 300ms;
                                }
                            }
                        }
                    }
                }

                //LOGIN
                &.step_1 {
                    form {
                        fieldset {
                            .title {
                                color: $cor-secundaria;

                                &.small {
                                    margin: 20px 0;
                                    font-size: 18px;
                                    font-weight: normal;
                                }

                                &.large {
                                    font-size: 22px;
                                    font-weight: bold;
                                }
                            }

                            .description {
                                font-size: 14px;
                                color: #959595;
                                margin: 5px 0 25px;
                            }

                            span {
                                i {
                                    color: red;
                                }
                            }

                            input[type="text"],
                            input[type="password"] {
                                width: 100%;
                                height: 40px;
                                text-indent: 10px;
                                border-radius: 4px;
                                border: 1px solid #dcdcdc;
                                margin: 5px 0 20px;
                            }

                            .submit {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin-top: 20px;

                                @media screen and (max-width:$mobile) {
                                    flex-direction: column;
                                }

                                a {
                                    color: $cor-cta;
                                    font-weight: bold;
                                    text-decoration: underline;
                                }

                                input[type="submit"] {
                                    width: 100%;
                                    height: 40px;
                                    border-radius: 50px;
                                    font-size: 18px;
                                    font-weight: bold;
                                    cursor: pointer;
                                    color: white;
                                    background-color: $cor-cta;
                                    float: right;
                                    transition: all 300ms;

                                    @media screen and (min-width:$mobile) {
                                        max-width: 192px;
                                    }

                                    @media screen and (max-width:$mobile) {
                                        margin-top: 20px;
                                    }
                                }
                            }

                            .info {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                @media screen and (max-width:$mobile) {
                                    flex-direction: column;
                                }

                                a {
                                    font-size: 12px;
                                    font-weight: 300;
                                    color: #7E7E7E;
                                    text-decoration-line: underline;
                                }

                                label {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;

                                    input {
                                        position: relative;
                                        left: -7px;
                                        width: 18px;
                                        height: 18px;

                                        &:checked {
                                            &:after {
                                                background-size: 90%;
                                            }
                                        }

                                        &:after {
                                            content: '';
                                            width: 100%;
                                            height: 100%;
                                            display: block;
                                            border-radius: 3px;
                                            border: 1px solid $cor-cta;
                                            background-color: #fff;
                                            background-size: 0;
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            background-image: url(/arquivos/ico_checked.png);
                                        }
                                    }

                                    @media screen and (max-width:$mobile) {
                                        margin-top: 15px;
                                    }
                                }
                            }
                        }
                    }
                }

                //TOKEN
                //CHANGE PASSWORD
                &.step_2,
                &.step_3 {
                    form {
                        fieldset {
                            .description {
                                color: #959595;
                                margin-bottom: 20px;
                            }

                            label {
                                margin-bottom: 20px;

                                input {
                                    width: 100%;
                                    height: 45px;
                                    border: 1px solid #dcdcdc;
                                    border-radius: 4px;
                                    text-indent: 10px;
                                    margin-top: 5px;
                                }
                            }

                            .text {
                                margin: 20px 0;
                            }

                            ul {
                                margin: 10px 0 20px;

                                li {
                                    display: flex;
                                    align-items: center;
                                    font-size: 12px;
                                    transition: color 300ms;
                                    color: #727272;

                                    &.active {
                                        color: $cor-cta;
                                        font-weight: bold;

                                        &:before {
                                            border-color: $cor-cta;
                                        }
                                    }

                                    &:before {
                                        opacity: 0;
                                        content: '';
                                        width: 8px;
                                        height: 8px;
                                        display: block;
                                        border-right: 2px solid #727272;
                                        border-bottom: 2px solid #727272;
                                        margin-right: 5px;
                                        transform: rotate(45deg);
                                        margin-top: -5px;
                                        transition: border-color 300ms;
                                    }
                                }
                            }

                            .submit {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                @media screen and (max-width:$mobile) {
                                    flex-direction: column;
                                }
                            }

                            input[type="submit"] {
                                width: 100%;
                                max-width: 192px;
                                height: 40px;
                                line-height: 40px;
                                border-radius: 50px;
                                background-color: $cor-cta;
                                color: #fff;
                                font-size: 18px;
                                font-weight: bold;
                                cursor: pointer;
                                float: right;
                                transition: all 300ms;

                                @media screen and (max-width:$mobile) {
                                    margin-top: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}