.prateleira {
    &>h2 {
        font-size: 30px;
        font-weight: 300;

        @media screen and (max-width:$mobile) {
            text-align: center;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        li {
            width: calc(100% / 4);
            padding: 10px;

            @media screen and (max-width:$mobile) {
                margin-top: 20px;
                padding: 0;
            }

            article {
                padding: 10px;
                transition: all 300ms;
                background-color: #fff;
                
                @media screen and (min-width:$mobile) {
                    height: calc(100% - 40px);
                }

                @media screen and (max-width:$mobile) {
                    display: flex;
                }

                &:hover {
                    height: auto;
                    box-shadow: 0px 0px 7px 2px #dcdcdc;

                    .buy_button {
                        top: 0;
                        opacity: 1;
                    }

                    ._cta {
                        .column_1 {
                            .add_cart {
                                opacity: 1;
                            }
                        }
                    }
                }

                .column_1 {
                    @media screen and (max-width:$mobile) {
                        width: 30%;
                    }

                    figure {
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .variations {}
                }

                .column_2 {
                    @media screen and (max-width:$mobile) {
                        width: 70%;
                    }

                    .name {
                        height: 80px;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 14px;
                        padding-bottom: 5px;
                        margin-bottom: 5px;
                        border-bottom: 1px solid #dcdcdc;
                    }

                    .outOfStock {
                        color: #878686;
                        font-size: 18px;

                        a {
                            display: block;
                            font-size: 12px;
                            color: $cor-principal;
                            margin-top: 5px;
                        }
                    }

                    .price {
                        height: 85px;

                        .de {}

                        .por {
                            font-size: 18px;
                            font-weight: bold;
                        }

                        .parc {
                            font-size: 12px;
                            color: #727171;

                            strong {
                                font-weight: bold;
                            }
                        }
                    }
                }

                .buy_button {
                    width: 100%;
                    height: 40px;
                    color: $branco;
                    background-color: $cor-cta;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 3px solid green;
                    text-transform: uppercase;
                    transition: all 300ms;
                    
                    @media screen and (min-width:$mobile) {
                        position: relative;
                        top: -40px;
                        opacity: 0;
                    }

                    i {
                        margin-right: 10px;

                        svg {
                            width: 25px;
                            height: 25px;
                            fill: $branco;
                        }
                    }
                }
            }
        }
    }

    ._cta {
        .column_1 {
            .add_cart {
                width: 100%;
                height: 45px;
                line-height: 45px;
                border-radius: 5px;
                display: block;
                color: white;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 1px;
                text-align: center;
                text-transform: uppercase;
                background-color: $cor-cta;
                transition: all 300ms;
                opacity: 0;

                @media screen and (max-width:$mobile) {
                    display: none;
                }
            }
        }

        .column_2 {
            display: none;
        }
    }
}