body.produto {
    ._mobile {
        display: none;

        @media screen and (max-width:$mobile) {
            display: block;
        }
    }

    ._desktop {
        display: block;

        @media screen and (max-width:$mobile) {
            display: none;
        }
    }

    .show_nutella {
        .apresentacao {
            overflow: hidden;
            position: relative;

            #image-main {
                width: 100%;
                height: auto;
            }

            .zoomPad {

                .zoomPup,
                .zoomWindow,
                .zoomWrapper,
                .zoomPreload {
                    display: none !important;
                }
            }
        }

        .thumbs {
            display: none;
        }

        .desc_prod {
            border: 1px solid #E7E7E7;
            padding: 15px 25px;
            font-family: $font-principal;

            @media screen and (max-width:$mobile) {
                border: 0;
                padding: 0;
            }

            .name_prod {
                padding-bottom: 10px;
                border-bottom: 1px solid #E7E7E7;
                margin-bottom: 20px;
                font-weight: 600;

                h3 {
                    font-size: 30px;
                }

                @media screen and (max-width:$mobile) {
                    text-align: center;
                    border-bottom: 0;

                    h3 {
                        margin-bottom: 11px;
                    }
                }
            }

            .info_compra {
                .row_1 {
                    display: flex;

                    .plugin-preco {
                        width: 50%;

                        @media screen and (max-width:$mobile) {
                            text-align: center;
                        }

                        &:not(.no-message) {
                            &:after {
                                width: 100%;
                                display: block;
                                font-size: 11px;
                                color: $cor-texto-light;
                                content: 'valor unit\00e1 rio do balde de 3kg';

                                @media screen and (min-width:$mobile) {
                                    max-width: 155px;
                                }
                            }
                        }

                        .valor-por {
                            font-size: 0;
                            color: black;

                            strong {
                                font-size: 30px;
                                font-style: normal;
                                line-height: 34px;

                                @media screen and (max-width:$mobile) {
                                    font-size: 25px;
                                }
                            }
                        }

                        .preco-a-vista {
                            display: none !important;
                        }

                        .sub_price {
                            font-size: 11.5px;
                            color: $cor-texto-light;
                        }
                    }

                    .quantidade {
                        width: 50%;

                        @media screen and (max-width:$mobile) {
                            text-align: center;
                        }

                        .specification {
                            display: none;
                        }

                        select {
                            -webkit-appearance: none;
                            /* Safari and Chrome */
                            -moz-appearance: none;
                            /* Firefox */
                            appearance: none;
                            background-image: url(/arquivos/arrow_select_prod.png);
                            background-repeat: no-repeat;
                            background-position: 131px;
                            background-color: #F0F0F0;
                            border-radius: 50px;
                            font-size: 16px;
                            padding: 8px 13px;
                            width: 160px;
                            border: 0;

                            @media screen and (max-width:$mobile) {
                                background-position: 110px;
                                width: 135px;
                            }
                        }

                        label {
                            font-size: 11px;
                            color: $cor-texto-light;
                        }
                    }
                }

                .row_2 {
                    .portal-notify-me-ref {
                        margin: 12px 0;

                        .notifyme {
                            padding: 10px;
                            background-color: #FFFBE6;
                        }

                        .notifyme-title {
                            text-align: center;
                            text-transform: uppercase;
                            font-weight: 900;
                            color: #443D1B;
                            margin-bottom: 5px;
                        }

                        form {
                            fieldset {
                                p {
                                    text-align: center;
                                    margin-bottom: 10px;
                                    color: #443D1B;
                                }

                                input {
                                    &[type="text"] {
                                        color: #443d1b;
                                        border: 1px solid #D7CC9D;
                                        margin-bottom: 10px;
                                        padding: 15px;
                                        width: 455px;
                                        border-radius: 30px;
                                        background-color: #fff;
                                        display: table !important;
                                        margin-left: auto;
                                        margin-right: auto;
                                    }

                                    &[type="button"] {
                                        color: #fff;
                                        font-size: 14px;
                                        font-weight: 600;
                                        display: table !important;
                                        margin-left: auto;
                                        margin-right: 14px;
                                        padding: 10px 15px;
                                        border-radius: 30px;
                                        background-color: $cor-cta;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }

                    .btn {
                        width: 100%;
                        color: white;
                        padding: 15px 0;
                        font-size: 25px;
                        font-weight: 600;
                        text-align: center;
                        border-radius: 60px;
                        margin: 15px 0 25px 0;

                        &:not(.dis-none) {
                            display: block;
                        }

                        &.buy-button {
                            background-color: $cor-cta;
                            box-shadow: 0px 5px 10px #66CC76;

                            &.disabled {
                                font-size: 0;
                                pointer-events: none;

                                &:after {
                                    content: 'Aguarde...';
                                    font-size: 25px;
                                }
                            }

                            @media screen and (max-width:$mobile) {
                                border-radius: 0;
                            }
                        }
                    }

                    .list {
                        &.account {
                            ul {
                                margin: 30px 0;
                                display: flex;
                                align-items: center;
                                justify-content: space-evenly;

                                li {
                                    text-align: center;

                                    span {
                                        display: block;
                                        margin-bottom: 5px;
                                        color: $cor-texto-light;

                                        @media screen and (min-width:$iphone5) and (max-width:$mobile) {
                                            font-size: 11px;
                                        }

                                        @media screen and (max-width:$iphone5) {
                                            font-size: 10px;
                                        }
                                    }

                                    a {
                                        width: 200px;
                                        height: 40px;
                                        display: block;
                                        line-height: 38px;
                                        text-align: center;
                                        font-weight: bold;
                                        font-size: 16px;
                                        border-radius: 50px;
                                        color: $cor-secundaria;
                                        border: 2px solid $cor-secundaria;
                                        box-shadow: 0px 0px 8px #dcdcdc;

                                        @media screen and (min-width:$mobile) {
                                            margin: 0 10px;

                                            &:hover {
                                                color: #fff;
                                                background-color: $cor-secundaria;
                                            }
                                        }

                                        @media screen and (min-width:$iphone5) and (max-width:$mobile) {
                                            width: 155px;
                                        }

                                        //SMALL PHONE
                                        @media screen and (max-width:$iphone5) {
                                            width: 135px;
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .row_3 {
                    display: flex;

                    @media screen and (max-width:$mobile) {
                        display: block;
                    }

                    .info_frete {
                        padding: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: #F4F4F4;

                        i {
                            margin-right: 10px;
                        }

                        p {
                            strong {
                                display: block;
                                color: $cor-secundaria;
                            }
                        }
                    }

                    .send_card_fast {
                        margin-right: 12.5px;

                        @media screen and (max-width:$mobile) {
                            margin-bottom: 10px;
                        }
                    }

                    .send_card_express {
                        margin-left: 12.5px;
                    }

                    .send_card_fast,
                    .send_card_express {
                        background: #F4F4F4;
                        padding: 15px 5px;
                        border-radius: 5px;
                        display: block;
                        width: 50%;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            margin-left: 0;
                            margin-right: 0;
                        }

                        .tooltip {
                            position: relative;
                            border-radius: 20px;
                            padding: 0px 5px;
                            background: #C4C4C4;
                            float: right;
                            color: black;
                            font-weight: 700;
                            font-size: 12px;

                            @media screen and (max-width:$mobile) {
                                display: none;
                            }

                            &:hover {
                                .tooltiptext {
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }

                            .tooltiptext {
                                visibility: hidden;
                                width: 395px;
                                color: #6A6A6A;
                                padding: 5px 0;
                                border-radius: 6px;
                                background: #FFFFFF;
                                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                                padding: 20px 15px;
                                border-radius: 2px;

                                /* Position the tooltip text */
                                position: absolute;
                                z-index: 1;
                                bottom: 125%;
                                left: -217px;
                                margin-left: -60px;

                                /* Fade in tooltip */
                                opacity: 0;
                                transition: opacity 0.3s;
                            }
                        }

                        .text {
                            text-align: center;

                            @media screen and (max-width:$mobile) {
                                padding-bottom: 10px;
                            }

                            p {
                                color: #BF0811;
                                font-weight: bold;
                                font-size: 22px;
                            }
                        }

                        .slide_infoFast,
                        .slide_infoExps {
                            display: none;
                            padding: 0 10px;

                            ul {
                                border-top: 1px solid #7d7d7d;
                                padding-top: 10px;
                            }
                        }
                    }

                }

                .row_4 {
                    margin-top: 20px;
                    text-align: center;

                    p {
                        font-size: 12px;
                    }
                }
            }
        }

        .pagamento {
            margin: 20px 0 70px;
            border: 1px solid #E7E7E7;
            padding: 15px 25px;
            font-family: $font-principal;

            @media screen and (max-width:$mobile) {
                padding: 15px;
                margin-bottom: 20px;
            }

            .title {
                color: black;
                margin-bottom: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid #E7E7E7;
            }

            ul,
            .tipo {
                li {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-bottom: 20px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    i {
                        display: inherit;
                    }

                    span {
                        margin: 0 10px;
                    }
                }
            }
        }

        .info_entrega {
            margin-bottom: 30px;

            ul {
                font-size: 16px;
                list-style-type: disc;
                padding: 0 23px;

                li {
                    color: #848484;

                    &:nth-child(2) {
                        margin: 10px 0;
                    }
                }
            }
        }
    }

    .info_nutella {
        background: #F5F5F5;
        margin-bottom: 10px;

        .container {
            padding-top: 45px;
            padding-bottom: 15px;
        }

        .info_calorica {
            table {
                border-collapse: separate;
                border-spacing: 0px;
                margin-bottom: 50px;

                td {
                    padding: 12.5px 20px;
                }

                thead {
                    tr {
                        background-color: #CAA030;

                        th {
                            padding: 10px 20px;
                            color: white;
                        }
                    }
                }

                tbody {
                    tr {
                        &.white {
                            background-color: white;
                        }
                    }
                }
            }
        }

        .desc_nutela {
            h4 {
                margin-bottom: 15px;
                font-size: 22px;

                &:first-child {
                    text-transform: uppercase;
                }
            }

            p {
                font-size: 14px;
            }

            .imgs_desc {
                margin: 10px 0;
            }
        }
    }
}