@media (min-width: 1200px) {
	.container {
		width: 1170px;
		max-width: 100%;
	}
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

input[value="Aguarde..."],
input[value="Cadastrado"] {
	pointer-events: none;
	opacity: 0.7;
}

.modal {
	width: 100%;
	height: auto;
	max-width: 592px;
	padding: 15px 15px 20px 15px;
	position: fixed;
	top: 20%;
	left: 50%;
	z-index: 12;
	border-radius: 5px;
	margin-left: -296px;
	background: #FFFFFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	transition: transform 300ms;
	display: block !important;

	@media screen and (max-width:$mobile) {
		width: calc(100% - 30px);
		margin: 0;
		left: 15px;
	}

	&.active {
		transform: scale(1);
	}

	/* width */
	::-webkit-scrollbar {
		width: 7px;
		height: 7px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		border-radius: 10px;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background-color: #d2d2d2;
		border-radius: 10px;
	}

	&.avise_me {
		.title {
			margin-bottom: 30px;
		}

		form {
			fieldset {
				.title {
					font-size: 22px;
					font-weight: normal;
					color: $cor-secundaria;
				}

				.description {
					font-size: 14px;
					color: #959595;
					margin: 5px 0 25px;
				}

				.column {
					display: flex;

					&.two {
						justify-content: space-between;

						label {
							width: 48%;
						}
					}

					&.one {
						label {
							width: 100%;
						}
					}
				}

				input:not([type="submit"]) {
					width: 100%;
					height: 40px;
					text-indent: 15px;
					border-radius: 2px;
					border: 1px solid #dcdcdc;
					margin: 5px 0 20px;
				}

				input[type="submit"] {
					width: 100%;
					max-width: 180px;
					height: 40px;
					border-radius: 50px;
					font-size: 18px;
					font-weight: bold;
					cursor: pointer;
					color: white;
					background-color: $cor-cta;
					float: right;
					transition: all 300ms;
				}
			}
		}
	}

	&.distribuidores {
		@media screen and (min-width:$mobile) {
			max-width: 1000px;
			margin-left: -500px;
		}

		.list {
			height: 350px;
			overflow: scroll;

			@media screen and (max-width:$mobile) {
				height: 300px;
			}

			ul {
				li {
					display: flex;
					justify-content: space-between;
					margin-bottom: 15px;

					&:first-child {
						.column {
							p {
								font-weight: bold;
							}
						}
					}

					.column {
						p {
							font-size: 13px;
						}

						&.column_1 {
							width: 30%;
						}

						&.column_2 {
							width: 20%;
						}

						&.column_3 {
							width: 10%;
						}

						&.column_4 {
							width: 2%;
						}

						&.column_5 {
							width: 28%;
						}
					}
				}
			}
		}
	}

	&.politicas {
		@media screen and (max-width:$mobile) {
			top: 5%;
		}

		.head {
			.title {
				font-size: 30px;
				margin-bottom: 20px;

				@media screen and (max-width:$iphone5) {
					font-size: 15px;
				}

				@media screen and (min-width:$iphone5) and (max-width:$mobile) {
					font-size: 19px;
				}
			}
		}

		.content {
			overflow-x: hidden;

			//DESKTOP
			@media screen and (min-width:$mobile) {
				height: 350px;
			}

			//MOBILE
			@media screen and (min-width:$iphone5) and (max-width:$mobile) {
				height: 300px;
			}

			//IPHONE5 - CELULARES MENORES
			@media screen and (max-width:$iphone5) {
				height: 200px;
			}

			p {
				margin-bottom: 30px;
			}
		}

		.footer {
			ul {
				li {
					a {
						font-size: 18px;
					}

					&:first-child {
						a {
							border: none;
							color: gray;
							font-size: 18px;
							font-weight: bold;
						}
					}
				}
			}
		}
	}

	&.senha.true {
		.title {
			font-size: 24px;
		}
	}

	&.cnpj.false,
	&.cep.false {
		.description {
			font-size: 18px;
		}
	}

	&.acesso {
		.title {
			color: $cor-secundaria;
		}
	}

	&.cnpj.false {
		.footer {
			>a {
				box-shadow: none;
				background-color: #636363;
			}
		}
	}

	.head {
		margin-bottom: 10px;

		.close {
			width: 100%;
			display: block;
			text-align: right;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: bold;
			color: #707070;
		}
	}

	.text {
		.title {
			font-size: 30px;
			text-align: center;

			@media screen and (max-width:$mobile) {
				font-size: 22px;
			}
		}

		.description {
			margin: 20px 0;
			text-align: center;
		}
	}

	.footer {
		>a {
			width: 180px;
			height: 40px;
			line-height: 40px;
			font-size: 16px;
			font-weight: 700;
			text-align: center;
			border-radius: 60px;
			box-shadow: 0 5px 10px #66cc76;
			background-color: #2da440;
			color: #fff;
			display: block;
			margin: 0 auto;
		}

		ul {
			display: flex;
			justify-content: space-evenly;
			margin-top: 20px;

			@media screen and (max-width:$mobile) {
				flex-direction: column;
			}

			li {
				&:first-child {
					a {
						color: $cor-cta;
						background-color: #fff;

						@media screen and (max-width:$mobile) {
							margin-bottom: 10px;
						}
					}
				}

				&:last-child {
					a {
						color: white;
						background-color: $cor-cta;
					}
				}

				a {
					&[href="undefined"] {
						display: none;
					}

					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					width: 250px;
					height: 50px;
					line-height: 17px;
					border-radius: 5px;
					border-radius: 50px;
					border: 2px solid $cor-cta;

					@media screen and (max-width:$mobile) {
						width: 100%;
					}
				}
			}
		}
	}
}

.ui-autocomplete.ui-menu.ui-widget.ui-widget-content,
#ajaxBusy {
	display: none !important;
}

.desktop {
	@media screen and (max-width: $mobile) {
		display: none;
	}
}

.mobile {
	display: none;

	@media screen and (max-width: $mobile) {
		display: block !important;
	}
}

#app-loading {
	display: flex;
	align-items: center;
	justify-content: center;

	@keyframes ldio-6g3ype82rk3 {
		0% {
			transform: rotate(0)
		}

		100% {
			transform: rotate(360deg);
		}
	}

	.ldio-6g3ype82rk3>div {
		animation: ldio-6g3ype82rk3 1s infinite linear;
		transform-origin: 50px 50px;
	}

	.ldio-6g3ype82rk3>div div {
		position: absolute;
	}

	.ldio-6g3ype82rk3>div div:nth-child(1),
	.ldio-6g3ype82rk3>div div:nth-child(2) {
		width: 82px;
		height: 82px;
		border: 12px solid;
		border-radius: 50%;
		border-color: transparent #e15b64 #e15b64 #e15b64;
		box-sizing: border-box;
		position: absolute;
		transform: rotate(45deg);
		transform-origin: 50px 50px;
	}

	.ldio-6g3ype82rk3>div div:nth-child(1) {
		transform: rotate(45deg) translate(9px, 9px);
	}

	.ldio-6g3ype82rk3>div div:nth-child(2) {
		transform: rotate(0deg) translate(9px, 9px);
	}

	.ldio-6g3ype82rk3>div div:nth-child(3) {
		width: 0;
		height: 0;
		border: 12px solid;
		border-color: transparent transparent transparent #e15b64;
		transform: translate(50px, 3px);
	}

	.loadingio-spinner-reload-nzjnlbe9o4d {
		width: 100px;
		height: 100px;
		display: inline-block;
		overflow: hidden;
		background: none;
	}

	.ldio-6g3ype82rk3 {
		width: 100%;
		height: 100%;
		position: relative;
		transform: translateZ(0) scale(1);
		backface-visibility: hidden;
		transform-origin: 0 0;
	}

	.ldio-6g3ype82rk3 div {
		box-sizing: content-box;
	}
}

#app-loading,
#overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background: rgba(130, 130, 130, 0.5);
	position: fixed;
	transition: opacity .5s;
	visibility: hidden;
	z-index: 11;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.img-fluid img {
	width: 100%;
	height: auto;
}

.txt-center {
	text-align: center;
}

.dis-none {
	display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="submit"] {
	appearance: none;
	-o-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

/*//////////////////////////////////////////////////////////////////
[ REBOOT ]*/
*,
*:before,
*:after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	color: $cor-texto;
	font-family: $font-principal;
	box-sizing: border-box;

	&.active {
		overflow: hidden;

		@media screen and (min-width:$mobile) {
			padding-right: 15px;
		}
	}
}

a {
	color: inherit;
	text-decoration: none;
	transition: background-color 300ms;

	&:focus {
		outline: none;
	}

	&:hover {
		text-decoration: none;
		color: $cor-principal;
	}
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

/*---------------------------------------------*/
fieldset,
input,
textarea,
label {
	display: block;
	outline: none;
	border: none;
}

/*---------------------------------------------*/
button {
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

iframe {
	border: none;
}