$font-principal: 'Open Sans', sans-serif;
$font-secundaria: sans-serif;

$branco: #fff;
$cor-principal: #CAA030;
$cor-principal-escuro: #7b262e;
$cor-secundaria: #BF0811;
$cor-cta: #2DA440;
$cor-texto: #000000;
$cor-texto-light: #9d9d9d;

$mobile: 812px;
$iphone5: 360px;
$tablet-landscape: 768px;
$tablet: 1024px;
$small-monitor: 1366px;